<h1>Log in</h1>

<% if flash[:message] %>
    <%= flash[:message] %>
<% end %>
<%= form_for(:session, url: login_path)  do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username%><br>
    <%= f.label :password%><br>
    <%= f.password_field :password %><br><br>
    

    <%= f.submit "Log in"%>
    <h3> Or Login with Google</h3>
    <%= button_to "Log in with Google", '/auth/google_oauth2'  %>
    
    <p> New reader? <%= link_to "Sign up", signup_path %>
<% end %>
