<h1>Log in</h1>


<%= form_for(:session, url: login_path)  do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username%><br>
    <%= f.label :password%><br>
    <%= f.password_field :password %><br><br>
    

    <%= f.submit "Log in"%>
    
<% end %>
<h3> Or Login with Google</h3>
    <p><%= button_to "Log in with Google", '/auth/google_oauth2'  %></p>
<div class="fb-login-button" data-width="" data-size="medium" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false"></div>

<p> New reader? <%= link_to "Sign up", signup_path %>