<% if !!flash[:errors] %>
2  <% flash[:errors].each do |e| %>
3    <p><%= e %></p> <br>
4    <% end %>
5  <% end %>


<%= form_with model: @reader  do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username%><br>
    <%= f.label :password%><br>
    <%= f.password_field :password %><br>
    <%= f.label :email %><br>
    <%= f.email_field :email %><br>
    <%= f.label :first_name%><br>
    <%= f.text_field :first_name %><br>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name%><br>
    <%= f.label :favorite_genre %><br>
    <%= f.text_field :favorite_genre%><br>
    <%= f.label :favorite_book%><br>
    <%= f.text_field :favorite_book%><br>
    <%= f.label :profile_pic%><br>
    <%= f.text_field :profile_pic%> <br>

    <%= f.submit %>
<% end %>