<center>

<h1 class="display-4"><%= @reader.username %></h1>
<%= render 'layouts/profile_pic' %>
<div class="border-class">
    <p class="lead">
    Username: <%= @reader.username%><br>
    Name: <%= @reader.first_name %> <%= @reader.last_name %><br>
    Email: <%= @reader.email %><br>
    Favorite Genre: <%= @reader.favorite_genre%><br>
    Favorite Book: <%= @reader.favorite_book %><br><br>
    
    <%= link_to "edit", edit_reader_path(@reader) %>
    </p><br>
</div>

<hr>


<h3><%= link_to "My Reviews", reader_reviews_path(current_reader) %></h3>
<div class="row">

    <% @reviews = current_reader.reviews %>
    <% @reviews.status.each do |review| %>
    <div class="col-md-2">
        <div class="card" style="width: 10rem;">
        <img src= "<%= review.book.image%>" class="card-img-top" alt="test">
        <div class="card-body">
            <p class="card-text"><%= link_to review.book.title, review_path(review) %><br>
            <em><%= review.status %></em><br>
            <%= link_to "edit", edit_review_path(review) %>
            </p>
        </div>
        </div>
    </div> 
    
    <% end %>
</div>
 <hr />
 </center>

       