<h1>Profile Page</h1>

<hr>

Username: <%= @reader.username%><br>
Name: <%= @reader.first_name %> <%= @reader.last_name %><br>
Favorite Genre: <%= @reader.favorite_genre%><br>
Favorite Book: <%= @reader.favorite_book %><br><br>
Profile Pic: <%= @reader.profile_pic %><br>
 <hr />
<%= link_to "edit", edit_reader_path(@reader) %>
       