<h1><%= @reader.username %></h1>


<hr>
<%= link_to "edit", edit_reader_path(@reader) %><br>
Username: <%= @reader.username%><br>
Name: <%= @reader.first_name %> <%= @reader.last_name %><br>
Email: <%= @reader.email %><br>
Favorite Genre: <%= @reader.favorite_genre%><br>
Favorite Book: <%= @reader.favorite_book %><br><br>
<% if @reader.profile_pic.attached? %>
    <img src= "<%= (url_for(@reader.profile_pic)) %>" alt="profile pic" height="250", width="150"><br>
<% end %>
<%= link_to "My Reviews", reader_reviews_path(current_reader) %><br>

<% @reviews = current_reader.reviews %>
<% @reviews.each do |review| %>
<p>     
        <div class="card" style="width: 10rem;">
        <img src= "<%= review.book.image%>" class="card-img-top" alt="test">
        <div class="card-body">
            <p class="card-text"><%= link_to review.book.title, review_path(review) %><br>
            <em><%= review.status %></em>
            </p>
        </div>
        </div>
            
   </p> 
    
<% end %>
 <hr />

       