<h1><%= @reader.username %></h1>

<hr>

Username: <%= @reader.username%><br>
Name: <%= @reader.first_name %> <%= @reader.last_name %><br>
Email: <%= @reader.email %><br>
Favorite Genre: <%= @reader.favorite_genre%><br>
Favorite Book: <%= @reader.favorite_book %><br><br>
<img src= "<%= (url_for(@reader.profile_pic)) %>" alt="profile pic" height="250", width="150"><br>
 <hr />
<%= link_to "edit", edit_reader_path(@reader) %>
       