<center><img src="images/five_star.jpeg" height=17% width=17% ></center><br>
<div class="row">

    <% @books.each do |book| %>

    <div class="col-md-2">    
                <div class="card" style="width: 10rem;">
                <img src= "<%= book.image%>" class="card-img-top" alt="test">
                <div class="card-body">
                    <p class="card-text">
                    <h5><%= link_to book.title, book_path(book) %></h5><br>
                    <%= book.description%><br><br>
                    <%= book.author %><br>
                   <small> <%= book.genre%></small>
                    </p>
                </div>
                </div>
                    
    </div>
   
   <% end %>
</div>