<h3> These books all received 5 stars! </h3>

<% @books.each do |book| %>

<p>     
                <div class="card" style="width: 10rem;">
                <img src= "<%= book.image%>" class="card-img-top" alt="test">
                <div class="card-body">
                    <p class="card-text">
                    <%= link_to book.title, book_path(book) %><br>
                    <%= book.description%><br>
                    <%= book.author %><br>
                    <%= book.genre%>
                    </p>
                </div>
                </div>
                    
        </p> 
   
   <% end %>