
<center>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm"> 
            <%= form_tag(books_path, method: :get) do %>
            List <%= select_tag(:genre, options_for_select(@options))%>
            <%= submit_tag 'Search', name: nil %>
            <% end %>
            
        </div>
        <div class="col-sm">
            <%= form_tag(books_path, method: :get) do %>
            Author <%= text_field_tag :author, params[:author] %>
            <%= submit_tag 'Search', name: nil %>
            <% end %>
        </div>
        <div class="col-sm">
            <%= form_tag(books_path, method: :get) do %>
            Title <%= text_field_tag :title, params[:title] %>
            <%= submit_tag 'Search', name: nil %>
            <% end %>
        </div>
       
    </div>
</div>
<br>
<br>

<div class="row">

    <% @books.each do |book| %>

       <div class="col-md-2"> 
            <div class="card" style="width: 10rem;">
            <img src= "<%= book.image%>" class="card-img-top" alt="test">
            <div class="card-body">
                <p class="card-text"><%= link_to book.title.upcase, book_path(book[:id]) %><br>
                <small><%= book.author %></small><br>
                <%= book.genre %></p>
            </div>
            </div>
        </div>
            
    
        <% end %>
    
</div>
</center>