<center>
<h3> Search </h3>


    <%= form_tag(books_path, method: :get) do %>
    Title <%= text_field_tag :title, params[:title] %>
  
    <%= submit_tag 'Search', name: nil %>

<% end %>


<h3></h3>
    <%= form_tag(books_path, method: :get) do %>
    Author <%= text_field_tag :author, params[:author] %>
  
    <%= submit_tag 'Search', name: nil %>

<% end %>
<h3></h3>
    <%= form_tag(books_path, method: :get) do %>
    Genre <%= text_field_tag :genre, params[:genre] %>
  
    <%= submit_tag 'Search', name: nil %>

<% end %>




<% @books.each do |book| %>

   <p>     
        <div class="card" style="width: 10rem;">
        <img src= "<%= book.image%>" class="card-img-top" alt="test">
        <div class="card-body">
            <p class="card-text"><%= link_to book.title.upcase, book_path(book[:id]) %></p>
        </div>
        </div>
            
   </p> 
<% end %>
</center>