<h1 class="display-4"><%= @book.title.upcase %> </h1>

<hr>
<h3><%= button_to "Buy From Amazon" ,  @book.link_to_purchase, method: :get, :target => "_blank" %></h3><img src="/images/amazon.png" width=5% height=5%><br><br>



<% if  current_reader.reviews.find_by(book_id: params[:id]) == nil %>

    <h3><%= button_to "Add to my shelf", new_book_review_path(@book), method: :get %></h3><br>
<% else %>
  <h3> <%= button_to  "Edit my Review", book_reviews_path(@book) %></h3><br>
    
<% end %> 
<table class="table table-info">
    <tr>
        <th>Author</th> 
        <th>Publisher</th> 
        <th>Published</th>
        <th>Best Seller List</th> 
    </tr>
    <td><%= @book.author %></td> 
    <td><%= @book.publisher %></td>
    <td><%= full_date(@book.published) %></td>
    <td><%= @book.genre %></td>
 </table>   
 <br>
 <% if @book.description? %>
    <blockquote class="blockquote">
        <p class="mb-0"><%= @book.description %></p>   
    </blockquote><br>
<% end %>
    
    <img src= "<%= @book.image %>" height ="329" width "500" ><br>
  
    <center>
<% if @book.reviews.any? %>
    <hr>
    <h3><%= link_to "Reviews", book_reviews_path(@book) %> </h3>
<div class="row"> 
        <% @book.reviews.each do |review| %>
    <div class="col-md-2">    
                <div class="card" style="width: 10rem;">
                <img src= "/images/bf.jpeg" class="card-img-top" alt="test">
                <div class="card-body">
                    <p class="card-text">
                    <%= review.status %><br>
                    <em><%= review.book_review %><em><br>
                    <h2><%= review.star_rating%></h2><br>
                    -<%= review.reader.username %>
                    </p>
                </div>
                </div>
    </div>
        <% end %>
<% end %>
</div>
</center>
<hr>

