<h1><%= @book.title %> </h1>
<hr>

Author: <%= @book.author %><br>
Published: <%= @book.published %><br>
Publisher: <%= @book.publisher %><br>
Description: <%= @book.description %><br><br>
Genre: <%= @book.genre %><br>
<img src= "<%= @book.image %>" height ="329" width "500" ><br>
<%= link_to "Buy From Amazon",  @book.link_to_purchase, :target => "_blank" %><br>
<%= link_to "edit", edit_book_path(@book) %><br>
<%= link_to "review", new_review_path(@book[:id]) %>
<hr />
