<h1><%= @book.title.upcase %> </h1>

<hr>
<%= link_to "Buy From Amazon" ,  @book.link_to_purchase, :target => "_blank" %><img src="/images/amazon.png" width=5% height=5%><br><br>



<% if  current_reader.reviews.find_by(book_id: params[:id]) == nil %>

    <h3><%= link_to "Write a Review!", new_book_review_path(@book) %></h3><br>
<% else %>
    <%=  link_to "Edit my Review", reader_reviews_path(current_reader) %><br>
<% end %> 
    Author: <%= @book.author %><br>
    Published: <%= @book.published.to_time.strftime('%b %d, %Y') %>
    Publisher: <%= @book.publisher %><br>
    Description: <%= @book.description %><br>
    Best Seller List: <%= @book.genre %><br><br>
    <img src= "<%= @book.image %>" height ="329" width "500" ><br>
  
    <center>
<% if @book.reviews.any? %>
    <hr>
    <h3><%= link_to "Reviews", book_reviews_path(@book) %> </h3>
<div class="row"> 
        <% @book.reviews.each do |review| %>
    <div class="col-md-2">    
                <div class="card" style="width: 10rem;">
                <img src= "/images/bf.jpeg" class="card-img-top" alt="test">
                <div class="card-body">
                    <p class="card-text">
                    <%= review.book_review %><br>
                    <h2><%= review.star_rating%></h2><br>
                    -<%= review.reader.username %>
                    </p>
                </div>
                </div>
    </div>
        <% end %>
<% end %>
</div>
</center>
<hr>

