<h1><%= @book.title.upcase %> </h1>

<hr>
<%= link_to "Buy From Amazon",  @book.link_to_purchase, :target => "_blank" %><br>
<%= link_to "edit", edit_book_path(@book) %><br>
<%= link_to "review", new_book_review_path(@book) %><br>
Author: <%= @book.author %><br>
Published: <%= @book.published %><br>
Publisher: <%= @book.publisher %><br>
Description: <%= @book.description %><br>
Genre: <%= @book.genre %><br><br>
<img src= "<%= @book.image %>" height ="329" width "500" ><br>

<% if @book.reviews.any? %>
    <hr>
    <h2> Reviews</h2>
    
        <% @book.reviews.each do |review| %>

        <p>     
                <div class="card" style="width: 10rem;">
                <img src= "/images/bf.jpeg" class="card-img-top" alt="test">
                <div class="card-body">
                    <p class="card-text">
                    <%= review.book_review %><br>
                    <h2><%= review.star_rating%></h2><br>
                    -<%= review.reader.username %>
                    </p>
                </div>
                </div>
                    
        </p> 
        <% end %>
<% end %>
<hr>

