<center>
    <% if !@book && !@reader %>
        <% @reviews.each do |book| %>
  
    
        <div class="card" style="width: 15rem;">
            <img src= "<%= book.image%>" class="card-img-top" alt="test">
                <p class="card-text"><%= link_to book.title, book_path(book.id) %><br>
                <% book.reviews.each do |review| %>
                    <div class="card-body">
                        <ul><%= review.book_review %>-<%= review.reader.username %></ul>
                    
                 <% end %>
                    </div>
        </div>
        
    <% end %>
        </div>
</div>
 <br>
    
</center>

        <% else %>
            <div class="row">

                <% @reviews.each do |review| %>

            <div class="col-md-2">     
                    <div class="card" style="width: 10rem;">
                            <img src= "<%= review.book.image%>" class="card-img-top" alt="test">
                            <div class="card-body">
                                <p class="card-text"><%= link_to review.book.title, book_path(review.book.id) %><br>
                                <h3><%= review.star_rating %></h3>
                                <%= review.book_review %><br>
                                -<%= review.reader.username %>
                                <% if current_reader.id == review.reader_id %>
                                        <%= link_to "edit", edit_review_path(review) %><br>
                                        
                                <% end %>
                                
                            </div>
                            </div>
                </div>
                        
           <% end %> 
        <% end %>
            </div>



