<center>
<h1>Book Review</h1>
 by <%= current_reader.username %><br>
    <%= render 'layouts/profile_pic' %>
   <% if params[:book_id] %> 
        <h3><%= @review.book.title %></h3> <img src="<%= @review.book.image %>" height=10% width = 10%>
    <% end %>

<%= render "layouts/errors", :object => @review %>
<%= render 'review' %>
</center>
