<center>

<h1 class="display-4">Book Review</h1> <small>by <%= current_reader.username %></small><br>
<%= render 'layouts/profile_pic' %><br>
    
   <% if params[:book_id] %> 

    <img src="<%= @review.book.image %>" style= height= 150px; width= 150px; >
        <h3><%= @review.book.title %></h3> 
    <% end %>

<%= render "layouts/errors", :object => @review %>
<div class="border-class" style="width: 50%;">
    <%= render 'review' %>
</div>
</center>
