<h2><%= link_to @review.book.title, book_path(@review.book.id) %></h2>

<img src= "<%= @review.book.image %>" height="15%", width="15%">
        <hr />
        <p>     
                <div class="card" style="width: 10rem;">
                <img src= "/images/bf.jpeg" class="card-img-top" alt="test">
                <div class="card-body">
                    <p class="card-text">
                        <h3><%= @review.star_rating %></h3>
                        <em><%= @review.book_review %></em>
                        <%= @review.reader.username %><br><br>
                        <%= @review.status %><br>
                        <%= link_to "edit", edit_review_path %><br>
                        <%= button_to "Delete Review", review_path(@review), method: :delete %>
                       </p>
                </div>
                </div>
                    
        </p> 


