<div>
        <h2><%= @review.book.title%></h2>
        <hr />
        <h4>Star Rating: <%= @review.star_rating %></h4>

        <p>Review: <%= @review.book_review %></p><br>
        <hr />
        By: <%= @review.reader.username %>

        <p>Status: <%= @review.status %></p><br>
        <hr />
        
        <%= link_to "edit", edit_review_path %><br> 
        
    </div>