<div>
        <h2><%= link_to @review.book.title, book_path(@review.book.id) %></h2>
        <h4>Star Rating: <%= @review.star_rating %></h4>
        <img src= "<%= @review.book.image %>" height="10%", width="10%">
        <hr />
        
        <p>Review: <%= @review.book_review %></p><br>
        <hr />
        By: <%= @review.reader.username %><br>
        
        <p>Status: <%= @review.status %></p><br>
        <hr />
        
        <%= link_to "edit", edit_review_path %><br> 
        
    </div>