<%= link_to "bookface", 'login_path' %>
<ul>
    
    
        <% if logged_in? %>
            <li><%=link_to "Profile", current_reader %>
            <li><%= link_to "Log out", logout_path, method: "delete"%>
        <% else %>
            <li><%= link_to "Log in", login_path, method: "get" %>
            <li><%= link_to "Signup", 'readers/new' %></li>
    </ul>
            
    <% end %>