<!DOCTYPE html>
<html>
  <head>
    <title>Bf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= render 'layouts/header' %>
     <% flash.each do |name, msg| -%>
     <h3> <%= content_tag :div, msg, class: name %><h3>
    <% end -%>
  </head>

  <body>
 <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=529488304694093&autoLogAppEvents=1" nonce="I9qkzmEp"></script>
    <%= yield %>
  </body>
</html>
