<!DOCTYPE html>
<html>
  <head>
    <title>Bf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= render 'layouts/header' %>
     <% flash.each do |name, msg| -%>
     <h3> <%= content_tag :div, msg, class: name %><h3>
    <% end %>


  </head>

  <body>
 
    <%= yield %>
  </body>
</html>
